*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.page {
  margin:0;
  max-width: 100%;
  overflow-x:hidden;
  background-image: var(--background_image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25.04px;
  height: 25px;
}

.header.decorated-zone {
  position: relative;  
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button_active:active {
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  outline: none; 
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--text-color);
}
