:root.theme-light {
  --accent-color:#FF8DCB;
  --title-color:#FFC2E6;
  --text-color:#353430;
  --background_image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --button-color:rgb(53, 52, 48);
  --paragraf-color:#353430;
  --decor-color:#353430;
  --title_decor-color:#000028;
  --button-hover-color:rgba(53, 52, 48, 0.4);
  --text-button-color:#353430;
  --text-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.theme-light .decorated-element {
  display:none;
}

.theme-light .decorated-element::after {
  display:none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color:#FF8DCB;
    --title-color:#FFC2E6;
    --text-color:#353430;
    --background_image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --button-color:#353430;
    --paragraf-color:#353430;
    --decor-color:#353430;
    --title_decor-color:#000028;
    --button-hover-color:rgba(50, 49, 45, 0.4);
    --text-button-color:#353430;
    --text-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .theme-auto .decorated-element {
    display:none;
  }

  .theme-auto .decorated-element::after {
    display:none;
  }
}