.header,
.footer {
  height:100vh;
  min-block-size:668px;
}

.page {
  margin:0;
  max-width: 100%;
  background-image: var(--background_image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color:var(--background-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25.04px;
  height: 25px;
}

.header.decorated-zone {
  position: relative;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.decorated-zone {
  padding:10px;
  display:grid;
}

.decorated-element {
  position: absolute;
  right: 9px;
  color: var(--decor-color);
  font-size: 18px;
  line-height: 25px;
  margin-top:10px;
  margin-right:9px;
  text-transform: uppercase;
  width:52px;
  font-family: var(--main-font);
}

.decorated-element::after {
  content: '';
  position: absolute;
  margin-top: 10px;
  margin-left:10px;
  align-self: center;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color:var(--decor-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.decorated-zone::before {
  right: 10px;
  top:10px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom:10px;
  left:10px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__theme-menu {
  width:70px;
  max-height:98px;
  display:grid;
  grid-row:1;
  justify-self:end;
  align-self: end;
  color:var(--accent-color);
  text-align:center;
  margin-top:30px;
}

.header__theme-title {
  grid-row:2;
  line-height: 83%;
  color:var(--title-color);
  font-weight:700;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--main-font);
  font-size:var(--text-size);
  width:355px;
  justify-self: center;
  align-self:center;
  margin-top:50px;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--main-font);
  color:var(--title_decor-color);
  font-weight:700;
  font-size:18px;
  line-height: 23.4px;
}

.header__theme-description {
  grid-row:3;
  justify-self: center;
  align-self: end;
  text-align: left;
  margin-bottom: 55px;
  max-width:355px;
  white-space:pre-line;
}

.header__theme-menu-list {
  display:grid;
  width:100%;
  height:100%;
  gap:10px;
}

.header__theme-menu-item {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color:var(--text-button-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border-color:var(--accent-color);
  text-transform: lowercase;
  width:100%;
  align-self: center;
  height:26px;
  border:none;
  font-family: var(--main-font);
  cursor: pointer;
}

.main__sections {
  display:flex;
  gap:50px;
  flex-direction:column;
  font-family:var(--main-font);
  background-color:var(--background-color);
}

.section-text {
  color:var(--text-color);
  margin-right:3.97px;
  font-size: 18px;
  line-height:23.4px;
  font-weight:400;
}

.section {
  width:100%;
  display:flex;
  padding-right:10px;
  padding-left:10px;
  flex-direction:column;
  gap:20px;
}

.focus {
  padding-top:40px;
}

.focus__description {
  display:flex;
  gap:10px;
  flex-direction: column;
  text-align: left;
}

.focus-title {
  margin-top:10px;
}

.section__title {
  color:var(--paragraf-color);
  font-size: 18px;
  line-height:23.4px;
  font-weight: 700;
}

.attention__description {
  display:flex;
  gap:20px;
  flex-direction: column;
  text-align: left;
}

.attention__card {
  display:flex;
  gap:10px;
  flex-direction: column;
}

.advices__content {
  display:flex;
  gap:20px;
  flex-direction:column;
}

.advices__content-text {
  gap:10px;
}

.title-decor-advices {
  font-weight: 400;
}

.section__link {
  text-shadow: 3px 2px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.gallery {
  background-color:var(--background-color);
  gap:10px;
  flex-direction:column;
  padding-bottom:40px;
}

.gallery-cards {
  gap:10px;
  display:grid;
  max-width: 100%;
  grid-template-rows: minmax(142px, 0.1fr) minmax(355px, 1fr) minmax(237px, 0.5fr) minmax(355px, 1fr) minmax(237px, 0.5fr);
}

.gallery__image {
  inline-size:100%;
  block-size:100%;
  object-fit: cover;
}

.footer {
  background-color:var(--background-color);
  width:100%;
  display:flex;
  padding:10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}

.footer-title {
  line-height: 83%;
  color:var(--title-color);
  font-weight:700;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--main-font);
  font-size:var(--text-size);
  text-align: center;
}

@media(width>=768px) {

  .header__theme-title {
    font-size:120px;
    text-wrap:nowrap;
    width:min(576.84px, 100%);
    justify-self:start;
    margin-top:120px;
  }

  .header.decorated-zone::after {
    margin-left:10px;
    margin-bottom:10px;
  }

  .header__theme-menu {
    margin-top:70px;
  }

  .header__theme-description {
    justify-self: end;
    margin-bottom: 174px;
    max-width: min(364px, 50%);
  }

  .header {
    min-block-size:1024px;
    padding-right:20px;
    padding-left:0;
  }

  .header.decorated-element {
    padding:0;
    margin-right:20px;
    margin-top:20px;
  }

  .header.decorated-zone::before {
    margin-right:10px;
    margin-top:10px;
  }

  .focus {
    display:grid;
    grid-template-columns: minmax(236px, 1fr) 2fr;
    gap:20px;
    padding-top:50px;
    padding-right:0;
  }

  .section__title {
    max-width:min(236px, 100%);
    block-size:70px;
  }

  .attention {
    margin-left:10px;
    padding-left:0;
    padding-right:10px;
  }
  
  .attention__description {
    width:100%;
  }

  .main__sections {
    padding-top:10px;
    padding-right:20px;
    padding-left:10px;
    gap:80px;
  }

  .advices {
    display:grid;
    gap:20px;
    grid-template-columns: minmax(236px, 1fr) 2fr;
    padding-right:0;
  }

  .gallery {
    width:100%;
    padding-bottom:70px;
    padding-right:0;
    gap:20px;
    padding-left:10px;
  }

  .gallery-cards {
    display: grid;
    grid-template-columns: minmax(229px, 1fr) minmax(230px, 1fr) minmax(229px, 1fr);
    grid-template-rows: 192px minmax(230px, 1fr) 318px;
    grid-template-areas: 
    "sunset sunset ice"
    "tape books ice"
    "tape street street";
    gap: 20px;
    max-width:100%;
  }

  .gallery__image {
    inline-size:100%;
    block-size:100%;
    object-fit:cover;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice {
    grid-area: ice;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }
  
  .street {
    grid-area: street;
  }

  .footer {
    min-block-size:1024px;
    justify-content: center;
    align-items: center;
    position:relative;
  }

  .footer-title {
    margin-bottom:20px;
  }

  .footer.decorated-zone::before {
    margin-top:0;
    margin-right:10px;
  }

  .footer.decorated-zone::after {
    margin-bottom:20px;
    margin-left:10px;
  }
}

@media (width>=1024px) {
  .header {
    min-block-size:768px;
  }

  .header.decorated-zone {
    grid-template-rows: 319px 130px 319px;
    padding:0;
  }

  .header__theme-description {
    max-width:min(491px,100%);
    margin-right:20px;
    margin-bottom:134px;
  }

  .header__theme-title {
    font-size:157px;
    margin:0;
    text-wrap:nowrap;
    width:min(759px, 100%);
    text-align:left;
    padding:0;
  }

  .header__theme-menu {
    margin:0;
    width:230px;
    height:26px;
    display:grid;
    grid-template-columns:70px 70px 70px;
    gap:10px;
    color:var(--accent-color);
    text-align:center;
    margin-top:19px;
    align-self: start;
    justify-self: center;
  }

  .header.decorated-element {
    margin-top:20px;
    margin-right:20px;
  }

  .header.decorated-zone::before {
    margin-top:10px;
    margin-right:10px;
  }

  .header.decorated-zone::after {
    margin-bottom:10px;
    margin-left:10px;
  }

  .header__theme-menu-list {
    display:grid;
    grid-template-columns:70px 70px 70px;
    width:100%;
    height:100%;
  }

  .header__theme-menu-item {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
  }

  .main__sections {
    padding-top:0;
    padding-left:20px;
    padding-right:10px;
  }

  .focus {
    padding-top:60px;
    padding-left:0;
    gap:19px;
  }

  .section__title {
    max-width:314.96px;
  }

  .focus__description {
    min-width:auto;
    margin-right:10px;
    padding:0;
  }

  .section-text {
    margin:0;
  }

  .attention {
    min-width:1004px;
    margin-left:0;
    padding-right:15px;
  }

  .attention__description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    gap: 20px;
    width: 100%;
  }

  .attention__card {
    flex: 1 1 1;
    min-width: 315px;
    margin-bottom: 0;
  }

  .advices {
    padding-left:0;
    padding-right:10px;
  }

  .advices__content {
    max-width:auto;
  }

  .gallery {
    width:100%;
    padding-left: 0px;
    margin-right:20px;
    padding-bottom: 0;
  }

  .gallery-cards {
    grid-template-rows: 260px minmax(230px, 1fr) 433px;
  }

  .gallery__image {
    inline-size:100%;
    max-block-size:100%;
  }

  .footer {
    min-block-size:768px;
    padding-block-start:60px;
    display:block;
    justify-content: center;
    align-items: center;
    position:relative;
  }

  .footer-title {
    font-size:157px;
    margin-top:319px;
    margin-left:0;
  }

  .footer.decorated-zone::after {
    margin-bottom:10px;
    margin-left:10px;
  }

  .footer.decorated-zone::before {
    margin-top:70px;
    margin-right:10px;
  }
}